<%= content_for :title, 'Testing' %>

<h1>Aura Creative</h1>
<h3>COWORKING & EVENT SPACE</h3>

<%= image_tag 'elephant.jpg', alt: 'pic elephant', title:'This elephant', class: 'img-thumbnail img-circle' %>

<a href"<%= asset_path 'elephant.jpg' %>">

<% if user_signed_in? %>
  <p>Your email address is <%= current_user.email %></p>
  <% if current_user.profile %>
    <p>Welcome <%= current_user.profile.name %></p>
  <% else %>
    <%= link_to "Create your profile", new_profile_path, class: 'btn btn_primary' %>
  <% end %>
<% end %>


<h1>Upcoming Events</h1>
<div class="row">
  <div class ="col-md-4">
    <% @events.each do |event| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= link_to event.name, event %></h3>
      </div>
      <div class="panel-body">
        <p><%= event.description %></p>
        <p><strong>Location: </strong><%= event.location %></p>
        <p><strong>Starts: </strong><%= event.starts.strftime('%l:%m%P %d %b %Y') %></p>
      </div>
    <div>
    <% end %>
  </div>
</div>
